EASYSTUDY_ENV=local

EASYSTUDY_SERVER_HOST=localhost
EASYSTUDY_SERVER_PORT=8080
EASYSTUDY_SERVER_CTX_TIMEOUT=10

EASYSTUDY_POSTGRES_HOST=localhost
EASYSTUDY_POSTGRES_PORT=5432
EASYSTUDY_POSTGRES_DATABASE=EasyStudy
EASYSTUDY_POSTGRES_USERNAME=postgres
EASYSTUDY_POSTGRES_PASSWORD=postgres

EASYSTUDY_REDIS_HOST=localhost
EASYSTUDY_REDIS_PORT=6379
EASYSTUDY_REDIS_PASSWORD=redispassword
EASYSTUDY_REDIS_DB=0
