PORT=8080
APP_ENV=development

BLUEPRINT_DB_HOST=localhost
BLUEPRINT_DB_PORT=5432
BLUEPRINT_DB_DATABASE=easy_study
BLUEPRINT_DB_USERNAME=easy_study
BLUEPRINT_DB_PASSWORD=easy_study
BLUEPRINT_DB_SCHEMA=public
BLUEPRINT_DB_SSLMODE=disable

MIGRATIONS_SOURCE=file://migrations
OPENAPI_SPEC_PATH=../../specs/001-lms-saas-system/contracts/openapi-lms-v1.yaml

REDIS_ADDR=localhost:6379
REDIS_PASSWORD=
REDIS_DB=0
REDIS_DIAL_TIMEOUT=5s
REDIS_READ_TIMEOUT=3s
REDIS_WRITE_TIMEOUT=3s
